{% extends 'core/base.html' %}

{% block content %}

    <!-- Hero Section -->
    <section class="hero-section" id="home">
        <div class="hero-text-area">
            <h1 class="hero-title">Marhuu: Engineering <br>Digital Excellence</h1>
            <p class="hero-description">
                We build high-performance ML models, automate complex technical workflows, and engineer intelligent systems for enterprises built to scale.

            </p>
            <a href="{% url 'contact' %}" class="cta-button">Discuss Your Project</a>
        </div>
    </section>

    <!-- Separate Section Imports -->
    

{% endblock content %}

